.student {
  display: flex;
  width: 100%;
  .studentContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 2;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;
        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 28px;
          font-weight: 700;
          color: #1976d2;
          background-color: #ccdcec;
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;
          transition: background-color 0.3s ease-in-out;
        }
        .editButton:hover {
          background-color: #1976d2;
          color: white;
        }
        .student {
          display: flex;
          gap: 20px;

          .studentImage {
            margin-left: 50px;
            width: 200px;
            height: 200px;
            border-radius: 12px;
            object-fit: cover;
            margin-left: 10px;
          }

          .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            .studentTitle {
              font-size: 18px;
              margin-bottom: 10px;
              font-weight: bold;
              color: #1976d2;
            }
            .detailItem {
              margin-bottom: 10px;

              .studentKey {
                font-weight: bold;
                color: gray;
                margin-right: 5px;
              }

              .studentValue {
                font-weight: 700;
              }
            }
          }
        }
      }
      .right {
        flex: 3;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
      }
    }
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.7);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.7);
      padding: 20px;
      margin: 20px;
    }

    .title {
      font-size: 22px;
      color: lightgrey;
      margin-bottom: 40px;
    }
    .titleQrCode {
      font-size: 22px;
      color: lightgrey;
      margin-bottom: 0px;
    }
  }
}
